table{
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    background-color: gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
th , td{
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid#ddd;
}
tr:nth-child(even){
    background-color: lightblue;
}
tr:hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
#table{
    text-align: center;
    margin-top: 20px;
}
#refresh, #addContact{
    margin-right: 10px;
    color: #f5f8f6;
    border: none;
    border-radius: 4px;
    padding:10px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#refresh:hover, #addContact:hover{
    background-color: #0062cc;
}

#homeLink ,#deleteContact, #editContact{
    margin-right: 10px;
    color: #f5f8f6;
    border: none;
    border-radius: 4px;
    padding:10px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#button-container{
    display: flex;
    justify-content: center;

}
#editForm{
    background-color: lightgrey;
    text-align: center;
    
}
#avatarImage{
    background-color: lightskyblue;
    text-align: center;

}





